/* Big screen :1200px. */
@media (min-width: 1300px) and (max-width: 1500px) {
    .hero-area { 
        padding-top: 200px;
        padding-bottom: 200px;
    } 
}
/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1300px) { 
    .contact-area .snape-img { 
        left: -340px;
        max-width: 1035px;
    }
   
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .hero-area { 
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .contact-area .snape-img {
        position: absolute;
        bottom: 0;
        left: -230px;
        max-width: 800px;
    }
    .contact-form { 
        border-radius: 50px;
        padding: 40px;
    }
    .onboard-area { 
        background-size: cover; 
    }
    .menu-area nav ul li a { 
        margin-left: 30px; 
    }
    .left-wrp h3 {
        font-size: 46px;
        line-height: 55px; 
        margin-bottom: 20px;
    }
    .left-wrp p { 
        font-size: 20px;
    }
    .left.alblk { 
        left: 35px;
    }
    .footer-area p {
        font-size: 20px;  
    }
    .right-links ul li a {  
        font-size: 20px; 
    }
    .contact-form form input, .contact-form form textarea, .contact-form form select { 
        height: 55px;
        border-radius: 10px;
        margin-bottom: 30px;
        padding-left: 20px;
        font-size: 25px; 
    }
    .select span { 
        top: 2px;
    }
    .contact-form form textarea {
        height: 230px !IMPORTANT; 
    }
    .contact-form form button { 
        margin-top: 40px;
    }
    .contact-wrp { 
        padding-left: 20px;
    }










}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .hero-area {
        padding-top: 60px;
        padding-bottom: 105px;
    }
    .solutions-area { 
        background-size: cover; 
    }
    .footer-area p {
        margin-bottom: 0px; 
        margin-top: 30px;
        font-size: 20px;
    }

    .left-wrp h3 {
        font-size: 35px;
        line-height: 48px; 
    }
    .left-wrp p {
        margin: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    .middle-row {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .contact-wrp {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .contact-area .snape-img {
        position: unset;
        bottom: 0;
        left: -265px;
        max-width: 1065px;
    }
    .footer-area img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    } 

    .onboard-area { 
        padding-top: 230px;
        padding: 200px 0;
        background-size: cover; 
      }
      
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .hero-area { 
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .hero-area img { 
        object-fit: cover; 
    }
    .hero-wrp h1 {
        font-size: 30px; 
        line-height: 38px;
        margin-bottom: 26px;
    }
    .hero-wrp p { 
        font-size: 20px;
        margin-bottom: 30px;
    }
    .theme-btn { 
        padding: 8px 30px;
        border: 3px solid #fff; 
        font-size: 20px; 
    }
    .title h2 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .title p {
        margin: 0;
        font-size: 20px;
        line-height: 25px;
    }
    .sol-blk img { 
        margin-bottom: 30px;
        max-width: 100px;
    }
    .sol-blk h4 { 
        font-size: 20px; 
        line-height: 26px;
        margin-bottom: 15px;
    }
    .sol-blk p {
        font-size: 14px; 
        margin-bottom: 10px;
    }
    .sol-blk {
        margin-bottom: 70px;
    }
    .solutions-area { 
        background-size: cover; 
    }
    .sm-steps-area img {
        margin-top: 30px;
    }
    .sm-steps-area .text-right {
        text-align: left;
    }
    .onboard-area { 
        background-size: cover;
        padding: 255px 0;
        position: relative;
        top: -90px;
    }
    .logo-area img {
        max-width: 100px;
    }
    .header-area {
        padding-top: 20px; 
        margin-bottom: -15px;
    }
    .onboard-area .title {
        margin-bottom: 43px;
    }
    .left-wrp h3 {
        font-size: 29px;
        line-height: 39px;
    }
    .left-wrp p {
        margin: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    .right.alblk {
        padding-left: 0;
        padding-right: 0;
    }
    .alblk { 
        padding-right: 0; 
    }
    .alblk .img {
        position: unset; 
        margin-bottom: 34px;
    }
    .alblk .img::after{
        display: none;
    }
    .alblk .img img {
        max-width: 110px;
    }
   .alblk::after{
        display: none;
    }
    .middle-row {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .contact-wrp {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .contact-area .snape-img {
        position: unset;
        bottom: 0;
        left: -265px;
        max-width: 1065px;
    }

    .contact-wrp h4 { 
        font-size: 26px;
        line-height: 32px; 
    }
    .contact-wrp p {
        font-size: 20px;
    }
    .contact-form { 
        border-radius: 20px;
        padding: 15px;
    }
    .contact-form form h4 { 
        text-align: center;
        font-size: 30px; 
        margin-bottom: 30px;
        margin-top: 25px;
    }
    .contact-form form input, .contact-form form textarea, .contact-form form select { 
        height: 45px;
        border-radius: 5px;
        margin-bottom: 8px;
        padding-left: 20px;
        font-size: 18px;
    }

    ::placeholder{
        font-size: 18px;
        opacity: 70%;
      }
    .select span { 
        top: 5px;
    }
    .contact-form form textarea {
        height: 150px !IMPORTANT;
        padding: 20px;
    }
    label.ckb { 
        line-height: 20px;
        font-size: 14px;
        padding-left: 51px;
    }
    label.ckb span.checkmark { 
        top: 3px; 
    }
    .contact-form form button {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .footer-area { 
        margin-top: 70px; 
    }
    .footer-area img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    .footer-area p {
        margin-bottom: 0px;
        font-size: 16px;
        margin-top: 30px;
    }
    .right-links ul li a { 
        font-size: 20px; 
    }
    .solutions-area {
        background-size: cover;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .contact-area { 
        margin-top: -90px;
    }
} 