/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
  font-family: homebook;
  src: url(/fonts/HomepageBaukasten-Book.ttf);
}
@font-face{
  font-family: homebold;
  src: url(/fonts/HomepageBaukasten-Bold.ttf);
}
/* 
font-family: 'Bitter', serif;
font-family: homebold;
font-family: homebook;
*/

:root{
  --homebook:homebook;
  --homebold:homebold;
  --nrfont:'Bitter', serif;
}
body {
  font-family: var(--homebook); 
  color: #0B243B;
  font-size: 22px;
}

  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }
img{
  max-width: 100%;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--nrfont);
  color: #0B243B;
  margin-top: 0px; 
  font-weight: 500; 
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
 }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  color: #DD6731;
}

 .padding{
   padding-right: 0;
 }
 
 .container{
   max-width: 1187px;
 }


/* default-css END 
================================== */
 


.header-area {
  padding-top: 30px;
  width: 100%;
  z-index: 99;  
}
.menu-area {
  text-align: right;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 22px;
  color: #000;
  font-family: var(--homebold);
  display: inline-block;
  margin-left: 35px;
  position: relative;
  transition: .3s;
}
.menu-area nav ul li a.active{
  color: #DD6731;
}
.menu-area nav ul li a:hover{
  color: #DD6731;
}
.menu-area nav ul li a.theme-btn {
  background: white;
  display: inline-block;
  padding: 0 50px;
  height: 48px;
  color: #ff4900;
  line-height: 48px;
  border-radius: 30px;
  border: 2px solid white;
  transition: .3s;
}  
/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #DD6731;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #DD6731;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #DD6731;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
  height: 38px;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu nav ul li a:hover { 
  color: #ff4900;
}

.mobile-menu ul#pills-tab li {
  display: inline-block;
}

.mobile-menu ul#pills-tab li a {
  color: #272835;
  font-size: 15px;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
  height: 45px;
  line-height: 45px;
}
.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: #ff4900;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}

/* Header section END Hero-area START*/




/* 
.all_content{
  max-width: 1440px;
  margin: auto;
} */
.hero-area {
  position: relative;
  z-index: 2;
  padding-top: 300px;
  padding-bottom: 350px;
}
.hero-area img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-position: top center;
}
.hero-wrp h1 {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  line-height: 62px;
  margin-bottom: 50px;
}

.hero-wrp p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 45px;
}

.theme-btn {
  display: block;
  width: max-content;
  padding: 10px 40px;
  border: 5px solid #fff;
  border-radius: 40px;
  font-size: 28px;
  text-transform: uppercase;
  position: relative;
  font-family: var(--homebold);
  color: #fff;
  background-color: transparent;
  transition: .3s;
}

.btn-small{
  border: 5px solid #0B243B;
  padding: 5px 20px;
  font-size: 16px;
  color: #0B243B;


}
.theme-btn span {
  margin-left: 15px;
  position: relative;
  top: 2px;
}
.theme-btn:hover {
  color: #fff;
  background: #dd6731;
  border-color: #dd6731;
}
.title h2 {
  font-size: 42px;
  font-weight: 700;
  color: #DD6731;
  line-height: 75px;
  margin-bottom: 0;
}

.title p {margin: 0;}

.title {
  margin-bottom: 100px;
}




/* Hero-area css END Solution area START */


.solutions-area {
  background: url(/img/solu-back.png);
  background-size: 100% 100%;
  background-position: top;
  margin-bottom: 40px;
}
.sol-blk {
  margin-bottom: 120px;
}

.sol-blk img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.sol-blk h4 {
  font-weight: 700;
  font-size: 20px;
  font-family: var(--homebold);
  line-height: 32px;
  margin-bottom: 27px;
}

.sol-blk p {
  font-size: 16px;
  color: #00628C;
  margin-bottom: 28px;
}
.sol-blk p:last-child{
  margin-bottom: 0;
}
.sol-blk p b {
  font-weight: 700;
  color: #DD6731;
}




/* Solution-area css END onboard area START */


.onboard-area {
  padding: 300px 0;
  background: url(/img/onboard.png);
  background-size: 100% 100%;
  background-position: top;
}

.onboard-area .title p {
  color: #fff;
}
.alblk { 
  position: relative;
  padding-right: 295px;
  padding-top: 50px;
  padding-left: 0;
  z-index: 2;
  overflow: hidden;
}
.right.alblk::after{
  left: 85px;
  right: auto;
}
.alblk:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: white;
  left: auto;
  right: 85px;
  top: 165px;
  mix-blend-mode: color-burn;
}
.afnone::after{
  display: none; 
}
.alblk .img {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}

.alblk h4 {
  font-size: 32px;
  font-weight: 700;
  color: #DD6731;
  margin-bottom: 15px;
}

.alblk p {
  font-size: 17px;
  color: #fff;
}

.right.alblk {
  padding-left: 295px;
  padding-right: 0;
}

.right.alblk .img {
  right: auto;
  left: 0;
}

.alblk .img::after {
  content: "";
  position: absolute;
  width: 115px;
  height: 10px;
  background: white;
  top: 50%;
  left: -115px;
  transform: translateY(-50%);
}

.right.alblk .img::after {
  left: auto;
  right: -115px;
}

.left.alblk {
  text-align: right;
}




/* onboard-area css END sm-steps area START */



.sm-steps-area .text-right {text-align: right;}
.left-wrp h3 {
  font-size: 32px;
  line-height: 75px;
  font-family: 'Bitter', serif;
  font-weight: 700;
}

.left-wrp  p {
  margin: 0;
}




/* sm-steps area css END Contact-area START */


.contact-area {
  position: relative;
  z-index: 2;
  overflow: hidden;
  max-width: 1440px;
  margin: auto;
}
.contacts{
  position: relative;
  overflow: hidden;
}
.contact-area .snape-img {
  position: absolute;
  bottom: 0;
  left: -290px;
  max-width: 970px;
}
.contact-wrp h4 {
  font-family: var(--homebold);
  font-size: 32px;
  line-height: 46px;
  color: #DD6731;
  margin-bottom: 30px;
}
.contact-form {
  background: #0B243B;
  border-radius: 70px;
  padding: 70px;
}

.contact-form form {
  box-sizing: border-box;
}

.contact-form form h4 {
  color: #fff;
  text-align: right;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}
.contact-form form input, .contact-form form textarea, .contact-form form select {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 17px;
  outline: none;
}

.contact-form form textarea {
  height: 316px !IMPORTANT;
  padding: 15px;
}

::placeholder{
  font-size: 15px;
  opacity: 70%;
}



.select {
  position: relative;
}

.select span {
  position: absolute;
  right: 15px;
  top: 12px;
}

.select select {
  padding-left: 10px !important;
  color: black;
  -webkit-appearance: none;
}
.select select::marker{
  display: none;
}
label.ckb {
  position: relative;
  color: #fff;
  line-height: 31px;
  font-size: 12px;
  padding-left: 60px;
}

label.ckb input#ckb {
  position: absolute;
  left: 0;
  -webkit-appearance: none;
}

label.ckb span.checkmark {
  width: 30px;
  height: 30px;
  background: white;
  display: block;
  position: absolute;
  left: 15px;
  top: 5px;
  transition: .2s;
}
label.ckb span.checkmark::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
}
label.ckb input:checked ~ span.checkmark {
  background: #DD6731;
}
label.ckb span.checkmark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 10px;
  width: 10px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}
label.ckb input:checked ~ span.checkmark::after {
  display: block;
}
.contact-form form button{
  margin: auto;
  margin-top: 60px;
}
.contact-wrp {
  padding-top: 77px;
}


.project__maincontent {

margin-top: 70px !important;
background-color: #fff;
color: #455b71;
padding: 50px !important;
box-shadow: 0 10px 58px 0 rgba(34, 41, 48, 0.2);
margin: 1rem 0;
position: relative;
z-index: 10;
}




/* Contact-area css END and Footer-area START*/


.footer-area {
  position: relative;
  padding: 45px 0;
  margin-top: 115px;
  z-index: 2;
  overflow: hidden;
}
.footer-area img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.footer-area p {
  font-size: 13px;
  margin: 0;
  font-weight: 700;
}

.right-links ul li {
  display: block;
}

.right-links ul li a {
  display: block;
  font-size: 25px;
  font-weight: 700;
}
