
          <div class="footer-area">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-8 d-none d-lg-block">
                        <p>© 2020 Rombo AI. All Rights Reserved | <a href="/privacy">Privacy Policy</a></p>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="right-links"> 
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Products</a></li>
                                    </ul>
                                </div> 
                                <div class="col-6"> 
                                    <ul>
                                        <li><a href="#useCases">Use cases</a></li>
                                        <li><a href="#contact">Contect Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-8 d-block d-lg-none">
                        <p>&#169; 2020 Rombo AI. All Rights Reserved | <a href="/privacy">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
