<!DOCTYPE html>
<html lang="it">
  {% include header.html %}
  <body>
      {{ content }}
    {% include footer.html %}


  <!-- CSS here -->   
  <link rel="stylesheet" href="css/custom/responsive.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- JS here -->   
  <script src="js/vendor/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>  
  <script src="js/main.js"></script> 
    
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#000"
      },
      "button": {
        "background": "#f1d600"
      }
    },
    "content": {
      "href": "/privacy"
    }
  });
  </script>
  </body>
</html>
